<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" >
      <a class="navbar-brand" href="#">
        welcome
        {% if request.user.user_type == 'admin' or request.user.user_type == 'hr' %}
          {{ request.user.username }}
        {% else %}
          {{ request.user.first_name }}
        {% endif %}
        ({{ request.user.user_type }})
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="{% url 'dashboard' %}">Home</a></li>

      {% if request.user.user_type == 'admin' %}
        <li><a href="{% url 'employee_home' %}">Employee</a></li>
        <li><a href="{% url 'company_home' %}">Company</a></li>

         {% elif request.user.user_type == 'hr' %}
        <li><a href="{% url 'company_home' %}">Company</a></li>
      {% endif %}

      <li><a href="{% url 'student_home' %}">Student</a></li>

      <li>
        <form action="{% url 'logout' %}" method="POST" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-link" style="padding: 15px 0; color:#9d9d9d;">Logout</button>
        </form>
      </li>

    </ul>
  </div>
</nav>
